@use '../core/variables' as *;

:root {
  --flow-gap: 1rem;
  --border-radius: 6px;
}

body {
  background-color: $primary-red;
  background-image: url('../images/bg-intro-mobile.png');
  @media (min-width: 45em) {
    background-image: url('../images/bg-intro-desktop.png');
  }
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.container {
  width: 90%;
  margin: 4rem auto;
}
.container > * + * {
  margin-top: 2rem;
}
